* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #d6cac7, #feb47b, #2f4d46, #970909, #ffb3ba);
    background-size: 400% 400%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.app h1 {
    font-size: 28px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    text-align: center;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 20px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    max-width: 300px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    animation: slideIn 0.4s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:hover {
    background: #222;
    color: #fff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

#next-btn {
    background: #000;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-rad
}